GMLIB_MAP_HTML 			            RCDATA "js\gm\gmlib.map.html"
GMLIB_MAP_JS   			            RCDATA "js\gm\gmlib.map.js"
OSMLIB_MAP_HTML 		            RCDATA "js\osm\osmlib.map.html"
OSMLIB_MAP_JS   		            RCDATA "js\osm\osmlib.map.js"
OSMLIB_MAPLIBRE_CSS 	    		RCDATA "js\osm\maplibre-gl.css"
OSMLIB_MAPLIBRE_JS 		            RCDATA "js\osm\maplibre-gl.js"
OSMLIB_OFFLINE_STYLE_TEMPLATE 		RCDATA "js\osm\style.template.json"
OSMLIB_GLYPHS_NOTO_SANS_REGULAR_ZIP RCDATA "js\osm\Noto_Sans_Regular.zip"
